<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9931405426648676"
     crossorigin="anonymous"></script>

<!-- <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/13d47c87bcd8fdb7b23207013/e1d3f42538e45df15425efe0a.js");</script> -->
</head>
<!-- end custom head snippets -->
